<html>
<head>
    <title>Page Not Found</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon_404.ico') }}">
    <style>
        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
    <style>
        /* CSS for styling the paragraph */
        .styled-paragraph {
            color: black; /* Text color */
            font-size: 48px; /* Font size */
            font-family: Arial, sans-serif; /* Font family */
            text-align: center; /* Text alignment */
        }
    </style>
</head>
<body>
    <h1 class="styled-paragraph">Oops we only find this :</h1>
    <!-- Image element -->
    <img src="static/Peugeot_404_Champs.jpg" alt="Peugeot_404_Champs.jpg" width="900" class="center">
</body>
</html>